/* 컨테이너 영역 */
.container {
  display: flex;
  height: 100vh;
  font-family: 'Titillium Web', sans-serif;
}

/* 사이드 영역 스타일링 */
.sidebar {
  width: 60px;
  height: 100%;
  overflow: auto;
}

/* 메인 영역 스타일링 */
.mainContent {
  flex-grow: 1;
  padding: 50px;
  background: #f4f4f4;
  overflow: auto;
}

/* 카드 컨테이너 영역 */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

/* 카드 타이틀 영역 */
.cardTitle{
  margin-left: 15px;
  width: 100%;
  font-weight: bold;
}

/* 개별 카드 영역 */
.card {
  background: #fff;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex: 1 1 calc(25% - 20px);
  height: 400px;
}

/* 리스트 스타일링 대신 div 스타일 적용 */
.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 10px;
  margin-top: 40px;
}

/* 각 아이템 스타일 */
.cardItem {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(33.33% - 10px);
  height: 120px;
  padding: 10px;
  border: 1px solid #ddd; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

/* 호버 효과 */
.cardItem:hover {
  border-color: #555;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 숫자 강조 스타일 */
.cardNumber {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
  font-size: 20px;
}

/* Link 스타일링 */
.cardItem a {
  color: black;
  text-decoration: none; /* 밑줄 제거 */
  transition: color 0.3s ease; /* 색상 변화에 부드러운 전환 추가 */
}

/* 링크 호버 상태 */
.cardItem a:hover {
  color: #0056b3; /* 호버 시 색상 */
}
/* 링크 스타일 없애기 */
.clickable {
  text-decoration: none;
  color: inherit;
}

.clickable:hover {
  text-decoration: none;
  color: inherit;
}

