@import url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSans.css");

/* 멤버십 박스 */
.membershipBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background: #F6F2EE;
    border: 1px solid #988C73;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* 상대 위치 기준 설정 */
    margin-top: 50px;
}

.membershipImage {
    width: 50px;
    height: 50px;
    background: #F6F2EE;
    margin-right: 50px;
    margin-left: 20px;
}

.membershipImage img {
    width: 50px;
    height: 40px;
    background: #F6F2EE;
    margin-right: 50px;
}

.membershipInfo {
    font-family: 'GmarketSans', sans-serif;
    font-size: 14px;
    text-align: left;
    color: #2f2e2c;
    margin-bottom: 5px;
}

.pointCoupon {
    font-family: 'GmarketSans', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #2f2e2c;
}

/* 아이콘 영역 (우측 상단으로 위치) */
.tooltipIcon {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.tooltipIcon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 툴팁 박스 */
.tooltip {
    font-family: 'GmarketSans', sans-serif;
    position: absolute;
    top: 90%;
    left: -270px;
    transform: translateY(-50%);
    background-color: #988c7358;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    white-space: nowrap;
}


.couponSection {
    display: flex; /* 가로 정렬 */
    gap: 10px; /* 간격 */
    font-family: 'Italiana', serif;
    font-size: 14px;
}
  
  .pointCouponSection {
    display: flex;
    gap: 20px; /* POINT와 COUPON 간 간격 */
  }
  
  .point {
    font-family: 'GmarketSans', sans-serif;
    font-size: 14px;
}

.coupon {
    font-family: 'GmarketSans', sans-serif;
    font-size: 14px;
    width: 100%; /* 쿠폰 텍스트가 상위 flex의 중심에 배치되도록 */
}
  .couponTooltip {
    position: absolute;
    top: 100%; /* COUPON 아래에 표시 */
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    width: 300px;
  }
  
  .couponItem {
    margin-bottom: 5px;
  }
  
  .couponItem:last-child {
    margin-bottom: 0; /* 마지막 항목 간격 제거 */
  }


.membershipImage {
    width: 50px;
    height: 50px;
    background: #F6F2EE;
    margin-right: 50px;
    margin-left: 20px;
}

.membershipImage img{
    width: 50px;
    height: 40px;
    background: #F6F2EE;
    margin-right: 50px;
}

.membershipInfo {
    font-family: 'GmarketSans', sans-serif;
    font-size: 14px;
    text-align: left;
    color: #2f2e2c;
    margin-bottom: 5px;
}

.pointCoupon {
    font-family: 'GmarketSans', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #2f2e2c;
}

.profileContainer {
    width: 100%;
    margin: 0 auto;
    background-color: #f6f2ee;
    padding: 20px;
    font-family: "Italiana", sans-serif;
    padding-bottom: 100px;
  }
  
  .pageName {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #333;

    margin-bottom: 20px;
    padding-top: 130px;
  }
  
  .memberStatus {
    background-color: #f6f2ee;
    border: 1px solid #988C73;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  
  .vipAmount {
    color: #333;
  }
  
 
.modalContent {
    text-align: center;
}

.modalButtons {
    margin-top: 20px;
}


.signupContainer {
    background-color: #F6F2EE;
    font-family: "Italiana", sans-serif;
    font-style: normal;
  }
  
  .signheader{
    height: 110px;
  }
  
  .pageName {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    height: 100px;
  }
  
  .signupline {
    border: none;
    border-top: 1px dashed black;
  }
  
  .signupDiv {
    margin: 30px;
    border: 1px solid #988C73;
    padding: 10px;
    margin-bottom: 100px;
  }
  
  .formRow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .formRow span {
    margin-left: 2%;
    font-weight: bold;
    color: #333;
    width: 200px;
  }
  
  .formRow input {
    width: 50%;
    padding: 10px;
    border: 1px solid #988C73;
    font-size: 14px;
    outline: none;
    background-color: transparent;
  }

  .addressContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
  }
  
  .addressContainer .postalRow {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    width: 300px;
  }
  
  .addressContainer .postalRow input {
    flex: 2;
    border: 1px solid #988C73;
  }
  
  .addressContainer .postalRow button {
    width: 150px;
    height: 40px;
    padding: 10px;
    background-color: #aaa6a294;
    color: #2F2E2C;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  .addressContainer .postalRow button:hover {
    background-color: #b4a59bc5;
  }
  
  .detailedAddress input{
    width: 100%;
    padding: 10px;
    border: 1px solid #988c7338;
    font-size: 14px;
    outline: none;
    background-color: transparent;
  }
  
  .radioContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 40px;
  }
  
  .radioContainer input[type="radio"] {
    margin-right: 5px;
  }
  
  .exception {
    color: red;
    font-size: 12px;
    margin-left: 50px;
    flex: 1;
  }
  
  .phoneRow {
    display: flex;
    height: 40px;
    width: 50%;
  }
  
  .phoneRow p {
    font-size: 40px;
    margin-top: 10px;
    width: 30px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .phoneRow input {
    width: 20%;
    padding: 10px;
    border: 1px solid #988C73;
    font-size: 14px;
    text-align: center;
    height: 40px;
  }
  
  .buttonRow {
    display: flex;
    justify-content: center; /* 버튼 중앙 정렬 */
    gap: 10px; /* 버튼 간격 설정 */
    margin-top: 20px;
}

.submitButton,
.cancelButton {
    padding: 10px 20px;
    background-color: #988c7328;
    color: #2F2E2C;
    border: none;
    cursor: pointer;
}

.submitButton:hover,
.cancelButton:hover {
    background-color: #B4A59B;
}
  
.errorText {
    position: absolute;
    margin-left: 230px;
    color: red;
    font-size: 0.9em;
}

.birthRow {
  display: flex;
  height: 40px;
  width: 50%;
}

.weightRow {
  display: flex;
  height: 40px;
  width: 20%;
}

.heightRow {
  display: flex;
  height: 40px;
  width: 20%;
}

  /* 하단 바 */
.bottomBar {
    width: 70%;
    height: 0.9px;
    background-color: #988c73;
    margin: 20px auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .bottomBar:hover {
    background-color: #2f2e2c;
  }
  
  /* 뒤로 가기 링크 */
  .backLink {
    display: block;
    font-family: 'Italiana', serif;
    font-size: 16px;
    text-align: center;
    color: #988c73;
    text-decoration: none;
    margin-top: 20px;
    transition: color 0.3s ease;
  }
  
  .backLink:hover {
    color: #2f2e2c;
  }

  .deleteButton {
    position: absolute; /* 절대 위치 설정 */
    top: 150px; /* 멤버십 박스의 위쪽 여백 */
    right: 22px; /* 멤버십 박스의 오른쪽 여백 */
    padding: 8px 18px;
    background-color: #E6E3E2;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
}

.deleteButton:hover {
    background-color: #beb9b8; /* 마우스 오버 시 색상 변경 */
}



.modal {
    background-color: #fff;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #fff;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    text-align: center;
}

.modalButtons {
    margin-top: 20px;
}

.confirmButton, .cancelButton2 {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.confirmButton {
    background-color: #ff3b30;
    color: white;
}

.cancelButton {
    background-color: #beb9b8;
    color: white;
}

.inputtext {
    font-family: 'GmarketSans', sans-serif; /* GmarketSans 폰트 적용 */
    color: #2f2e2c; /* 텍스트 색상 */
    background-color: transparent; /* 배경 투명 */
    padding: 10px;
    border: 1px solid #988C73;
    font-size: 14px;
    width: 100%; /* 입력칸 기본 너비 */
}

  /* --- 반응형 미디어 쿼리 --- */
  
  @media (max-width: 700px) {
    .signbanner{
      display: none;
    }
    .signheader{
      height: 0px;
    }
  
    .signupDiv {
      margin: 15px;
      padding: 15px;
    }
  
    .formRow {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 15px;
    }
  
    .formRow span {
      width: 100%;
      margin-bottom: 5px;
    }
  
    .formRow input {
      width: 100%;
    }
  
    .addressContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }
  
    .addressContainer .postalRow {
      display: flex;
      gap: 10px;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
    }
  
    .addressContainer .postalRow input {
      flex: 1;
      max-width: 70%;
    }
  
    .addressContainer .postalRow button {
      width: 25%;
      min-width: 100px;
      height: 40px;
      padding: 10px;
      background-color: #aaa6a2;
      color: #2F2E2C;
      border: none;
      cursor: pointer;
      font-size: 12px;
    }
  
    .addressContainer .postalRow button:hover {
      background-color: #B4A59B;
    }
  
    .detailedAddress input {
      width: 100%;
      padding: 10px;
      border: 1px solid #988C73;
      font-size: 14px;
      outline: none;
      background-color: transparent;
    }
  
    .phoneRow {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 5px;
    }
  
    .phoneRow input {
      flex: 1;
      max-width: 90px;
      min-width: 50px; 
      padding: 8px;
      border: 1px solid #988C73;
      font-size: 14px;
      text-align: center;
      height: 40px;
      margin: 0;
    }
  
    .phoneRow p {
      font-size: 28px;
      margin: 0 2px;
      font-weight: bold;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .emaildetail {
      width: 100%;
    }
  
    .submitButton {
      width: 100px;
      font-size: 12px;
      padding: 8px 20px;
    }
  
    .signupbtn {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }
  }

  /* 미디어 쿼리 */
@media (max-width: 768px) {
    .heightWeightRow {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .heightWeightRow input[type="number"] {
        width: 100%; 
    }

    .membershipBox {
        flex-direction: column; /* 세로 정렬로 변경 */
        align-items: center;
        text-align: center; /* 텍스트 정렬 추가 */
    }

    .membershipImage {
        margin: 0 0 15px 0; /* 이미지 간격 조정 */
    }

    .membershipInfo, 
    .pointCoupon {
        font-size: 13px; /* 글자 크기 조정 */
        margin: 10px 0;
    }

    .formRow {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .formRow input {
        width: 100%; 
        padding: 12px; 
    }

    .addressContainer {
        flex-direction: column; 
    }

    .buttonRow {
        flex-direction: column; /* 세로 정렬 */
        gap: 10px;
    }

    .submitButton,
    .cancelButton {
        width: 100%;
        padding: 12px;
        font-size: 14px;
    }
}


@media (max-width: 576px) {
    .pageName {
        font-size: 30px; 
        margin-bottom: 35px;
    }

    .membershipInfo,
    .pointCoupon {
        font-size: 14px; 
    }

    .backLink {
        font-size: 23px;
    }

    .buttonRow {
        font-size: 12pt;
    }

    .profileForm {
        padding: 20px;
        font-size: 12pt;
    }

    .formRow label {
        width: 70px;
        margin-bottom: 8px;
        padding-right: 2px;
    }

    .membershipImage img {
        margin-left: 10px;
    }

    .membershipInfo {
        font-size: 15px;
        margin-bottom: 7px;
        text-align: center;
    }

    .membershipBox {
        flex-direction: column; 
        text-align: center;
    }

    .addressContainer {
        margin-left: -9px;
    }

    .formRow .addressContainer .zipcode input[type="text"] {
        width: 25%;
        margin-right: 15px;
    }

    .formRow input[type="date"]  {
        width: 50%;
        margin-right: 15px;
    }

    .heightWeightRow input[type="number"] {
        margin-left: 0px;
        width: 20%;
    }

    .tooltip {
        right: 35px;
        bottom: auto;
        top: 145px;
        background-color: #b5a79d;
    }

}

@media (max-width: 768px) {
    .couponSection {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .coupon {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .errorText {
        position: relative; 
        margin-top: 5px; 
        margin-left: 0; 
        font-size: 12px; 
    }
}