@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.loginMain * {
	box-sizing: border-box;
}

.loginMain{
	background: #F6F2EE;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "Italiana", sans-serif;
	font-style: normal;
	height: 100vh;
}

.loginMain h1 {
	font-weight: bold;
	margin: 0;
	font-size: 70px;
}

.loginMain h2 {
	font-weight: bold;
	margin: 0;
	font-size: 40px;
}

.overlay-container p {
	font-size: 15px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.loginMain span {
	font-size: 15px;
}

.loginMain a {
	color: #333;
	font-size: 15px;
	text-decoration: none;
	margin: 15px 0;
}

.loginMain button {
	border-radius: 20px;
	border: 1px solid #aaa6a2;
	background-color: #aaa6a2;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.loginMain button:active {
	transform: scale(0.95);
}

.loginMain button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.singupbtn{
	display: none;
}

.loginMain form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.loginMain input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
				0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	width: 1000px;
	height: 700px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.overlay {
	background: #F6F2EE;
	background: -webkit-linear-gradient(to right, #F6F2EE, #988C73);
	background: linear-gradient(to right, #F6F2EE, #988C73);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

/* --- 반응형 미디어 쿼리 --- */
@media (max-width: 700px) {
	.container {
		width: 100%; /* 전체 화면의 100% 차지 */
		padding: 20px 10px; /* 내부 간격 추가 */
		box-shadow: none; /* 작은 화면에서는 그림자 제거 */
		height: 100%;
	}
	.form-container{
		width: 100%;
	}
	.overlay-container {
		display: none;
	  }
	.singupbtn{
		display: block;
	}
  }